name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v2
        with:
          version: 8
      - run: pnpm install
      - run: cd apps/backend && npx prisma generate
      - run: pnpm --filter frontend build
      - name: Debug dist contents
        run: ls -l ./apps/frontend/dist
      - uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./apps/frontend/dist
          publish_branch: gh-pages
          keep_files: true
          force_orphan: false
